<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{active}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuRanking">
    <li><a href="/wiki/特殊:查看投票?user={{user}}&type=newest">最新投票</a></li>
    <li><a href="/wiki/特殊:查看投票?user={{user}}&type=most">热门投票</a></li>
  </ul>
</div>